DOCKERROOT=/tmp/
TZ=Europe/Paris
FMURL=dns.example.lan
DOMAIN=example.lan
WUILIP=0.0.0.0
WUITCP=5380
WUIIP=192.168.0.1
SSHLIP=0.0.0.0
SSHCLTCP=5322
DNSLIP=0.0.0.0
DNSCLTCP=5353
DNSCLUDP=5353
# NAMECL=clientdns.example.lan
